.header
  .header__logo
    BaseballWear
  .header__profile
    .header__profile__image
      = image_tag current_user.image.to_s, size: "55x55"
    .header__profile__team
      = current_user.favorite_team
    .header__profile__name
      = link_to user_path(current_user) do
        = current_user.nickname
  .header__link
    -if user_signed_in? 
      .header__link__edit
        = link_to edit_user_path(current_user) do
          ユーザー編集
      .header__link__post
        = link_to new_post_path do
          投稿