= render partial: "header"

.main__searchform
  = form_with(url: search_posts_path, local: true,method: :get) do |f|
    = f.text_field :keyword, placeholder: "チーム検索"
    = f.submit "検索"

.follow
  .follow__main
    フォロー
    %ul.follow__main__box
      - if @follow
        - @follow.each do |follow|
          %li.follow__main__box__name
          = link_to user_path(follow) do
            = follow.nickname



  .follow__follower
    フォロワー
    %ul.follow__follower__box
      - if @follower
        - @follower.each do |follower|
          %li.follow__follower__box__name
          = link_to user_path(follower) do
            = follower.nickname
          