.header
  .header__logo
    BaseballWear
  .header__image
    image(仮）
  .header__team
    = current_user.favorite_team
  .header__name
    = link_to user_path(current_user) do
      = current_user.nickname
  .header__link
    .header__link__edit
      = link_to edit_user_path(current_user) do
        ユーザー編集
    .header__link__post
      = link_to new_post_path do
        投稿

.main
  .main__searchform
    = form_tag('/search', method: :get, class: 'search-form') do
      %input.main__searchform__input{name: "keyword", placeholder: "何をお探しですか？", type: "text", value: ""}
      %button.main__searchform__btn{title: "検索", type: "submit"}
        

  .main__text
    Newposts
  .main__post
    %ul.main__post__box
      - if @posts
        - @posts.each do |post|
          %li.main__post__box__image
            = image_tag post.image.to_s, size: "350x500"
            %ul.main__post__box__image__text
              .main__post__box__image__text__2
                %li チーム名
                = post.team
                %li 投稿時間
                = post.created_at
                = link_to "Detail", "/posts/#{post.id}"
    .main__post__page
    = paginate(@posts)
  
    