.header
  .header__logo
    BaseballWear
  .header__image
    image(仮）
  .header__team
    = current_user.favorite_team
  .header__name
    = current_user.nickname
  .header__link
    .header__link__edit
      = link_to edit_user_path(current_user) do
        ユーザー編集
    .header__link__post
      = link_to new_post_path do
        投稿

.main
  .main__searchform
    = form_tag('/search', method: :get, class: 'search-form') do
      %input.main__searchform__input{name: "keyword", placeholder: "何をお探しですか？", type: "text", value: ""}
      %button.main__searchform__btn{title: "検索", type: "submit"}
        

  .main__text
    Newposts
  .main__post
    .main__post__image
      image1
    .main__post__image
      image2
    .main__post__image
      image3
    .main__post__image
      image4
    .main__post__image
      image5
    .main__post__image
      image6
    
  