= render partial: "header"

.main
  
  = render partial: "form"
  
  .main__text
    Popularposts
  
  .main__post
    %ul.main__post__box
      - if @posts
        - @posts.each.with_index(1) do |post,i|
          %li.main__post__box__image
            = image_tag post.image.to_s, size: "350x500"
            %ul.main__post__box__image__text
              .main__post__box__image__text__2
                = i 
                位
                %li 
                ♡
                = post.likes_count
                %li チーム名
                = post.team
                %li 投稿時間
                = post.created_at
                %li 投稿者
                = post.user.nickname
                %li
                = link_to "Detail", "/posts/#{post.id}"