
= render partial: "header"

.post
  .post__top
    Post
  .post__form
    = form_for @post do |f|
      %label{class: "post__form__image"}
        image
        = f.file_field :image, class: "post__form__blank"
        
      
      %label{class: "post__form__team"}
        team 
        = f.text_field :team, class: "post__form__blank"
       
      
      %label{class: "post__form__text"}
        text
        = f.text_area :text, class: "post__form__blank"
        

      = f.submit "send" 

    