= render partial: "header"

= render partial: "form"




.main__post
  .main__good
    = render partial: 'posts/posts', collection: @posts, as: :post
  %ul.main__post__box
    - if @posts
      - @posts.each do |post|
        %li.main__post__box__image
          = image_tag post.image.to_s, size: "350x500"
          %ul.main__post__box__image__text
            .main__post__box__image__text__2
              %li チーム名
              = post.team
              %li 投稿時間
              = post.created_at
              = link_to "Detail", "/posts/#{post.id}"
  .main__post__page
  = paginate(@posts)