= render partial: "header"

.main
  .main__searchform
    = form_with(url: search_posts_path, local: true,method: :get) do |f|
      = f.text_field :keyword, placeholder: "チーム検索"
      = f.submit "検索"
  - if user_signed_in? && current_user.id == @post.user_id 
    .main__manuplate
      = link_to "/posts/#{@post.id}",method: :delete do
        削除
      = link_to "/posts/#{@post.id}/edit" do
        編集 
  = render partial: 'posts/posts', collection: @posts, as: :post
  .main__content

    .main__content__image
      %p= image_tag @post.image.to_s,size: :"550x600"
      
    .main__content__text
      %pチーム名
      = @post.team
      %pテキスト
      = @post.text
      %p投稿者名
      = link_to @post.user.nickname, "/users/#{@post.user_id}",class: "username"
      -# = link_to @post.user.nickname
      %pオンラインショップサイト
      - if @post.team == "ジャイアンツ"
        =link_to "ジャイアンツ公式サイト", "https://store.giants.jp/store/"
      - elsif @post.team == "ベイスターズ"
        =link_to "ベイスターズ公式サイト", "https://ec.baystars.co.jp/"
      - elsif @post.team == "タイガース"
        =link_to "タイガース公式サイト", "https://shop.hanshintigers.jp/"
      - elsif @post.team == "カープ"
        =link_to "カープ公式サイト", "https://www.shop.carp.co.jp/"
      - elsif @post.team == "ドラゴンズ"
        =link_to "ドラゴンズ公式サイト", "https://dragonsshop.info/"
      - elsif @post.team == "スワローズ"
        =link_to "スワローズ公式サイト", "https://shop.yakult-swallows.co.jp/"
      - elsif @post.team == "ライオンズ"
        =link_to "ライオンズ公式サイト", "https://store.seibulions.jp/"
      - elsif @post.team == "ホークス"
        =link_to "ホークス公式サイト", "https://www.softbankhawksstore.jp/"
      - elsif @post.team == "イーグルス"
        =link_to "イーグルス公式サイト", "https://www.rakuten.ne.jp/gold/rakuteneagles/"
      - elsif @post.team == "マリーンズ"
        =link_to "マリーンズ公式サイト", "https://www.marines.co.jp/goods/index.html"
      - elsif @post.team == "ファイターズ"
        =link_to "ファイターズ公式サイト", "https://shop.fighters.co.jp/shopping/"
      - elsif @post.team == "バファローズ"
        =link_to "バファローズ公式サイト", "https://shop.buffaloes.co.jp/"
      
      %pコメント一覧
      - if @comments
        - @comments.each do |c| 
          .comment_style 
            = c.text
          = link_to c.user.nickname, "/users/#{c.user_id}",class: "username"
         
    .main__content__comment
      -if current_user
        = form_with(model: [@post,@comment],url: post_comments_path(@post.id), id: "new_comment") do |f|
          = f.text_field :text, placeholder: "コメント投稿",class: "message-field__area"
          = f.submit "Send"
      - else 
        %p コメント投稿にはログインが必要です


